@{
    ViewBag.Title = "Software on the Cloud";
}

<h2>Applications on the Cloud</h2>
<a name="gcdng"><h3>Google Chrome Latest Download Link Generator</h3></a>
<p>This online application looks for information on latest Google Chrome version and generates Google Chrome
Offline Installer Download link which is a Google URL. Downloading with the generated link users may feel 
comfortable with installing Chrome according to their choice (stable, beta, developer release).</p>

<a name="BDG"><h3>Bangla Date Gadget</h3></a>
<p>It's a gadget to use in Websites or blogs to show Bangla Date. It can be customized with different color and fonts.</p>

<a name="BVC"><h3>Bangla Visitor Counter</h3></a>
<p>As the name says with this web application you can have your own customized visitor counter for your website in Bangla
 even without unicode on your client site.</p>

<a name="GWords"><h3>GRE Words</h3></a>
<p>An application to help candidates practice GRE vocabulary. Click here to access @Html.ActionLink("GRE Words", "GREWords", "Home")</p>

<h2>Websites Live</h2>
<a name="CGBHK"><h3>Consulate General of Bangladesh in Hong Kong</h3></a>
<p>This is my honor to be affiliated in the project to develop site for Consulate General of Bangladesh in Hong Kong with other members who played
 exceptioned roles in development who are Jainal Uddin and Feroz Jahangir Rana.</p>

@section navigationLeft{
    <h3>Web Applications</h3>
    <ul>
        <li><a href="#gcdng">Google Chrome Latest Download Link Generator</a></li>
        <li><a href="#BDG">Bangla Date Gadget</a></li>
        <li><a href="#BVC">Bangla Visitor Counter</a></li>
        <li><a href="#GWords">GRE Words</a></li>
    </ul>
    <h3>Websites Live</h3>
    <ul>
        <li><a href="#CGBHK">Consulate General of Bangladesh in Hong Kong</a></li>
    </ul>
}
