@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Marketing & support:</span>
        <span><a href="mailto:sa@saos.co.in">sa@saos.co.in</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><img src="~/Images/general_email_address.png" /></span>
    </p>
    <p>
        <span class="label">For REVE Systems related query:</span>
        <span><img src="~/Images/reve_email_address.png" /></span>
        @*<span><a href="mailto:sa@saos.co.in">atiqur.rahman@revesoft.com</a></span>*@
    </p>
</section>

<section class="contact">
    <header>
        <h3>Twitter</h3>
    </header>
    <p>
        Contact by tweets: <a href="https://twitter.com/saint_atique" title="Contact SAOS via Saint Atique">saos at twitter</a>
    </p>
</section>