@{
    ViewBag.Title = "Saint Atique Operating System: welcome to SAOS";
}

<h2>Desktop Applications released by SAOS</h2>
<a name="stdt"><h3>Shutdown Timer</h3></a>
<p>Shutdown Timer is a simple and easy to use software to shut your computer down at specified time and date.
Being solely coded in win32 it's lite-weight application considering executable size. Project is open-source on <a href="https://stdt.codeplex.com/">codeplex</a> and <a href="https://sourceforge.net/p/stdt/">sourceforge</a>.</p>

<a name="DVDME"><h3>CD/DVD Media Ejector</h3></a>
<p align="justify">This application helps you eject CD/DVDROM.
After running the application press Ctrl + J to eject CD/DVDROM. Press Ctrl + J again to close the CD/DVDROM tray.
Another puprose of the application is that it keeps the weak DVDROM healthy. Project is open-source on <a href="https://sourceforge.net/projects/sacdeject/">sourceforge</a>.</p>

<a name="PingGuin"><h3>PingGuin</h3></a>
<p>PingGuin is GUI ping software that can ping remote hosts and also can notify when target PC is online or internet is available. Project is open-source on <a href="http://code.google.com/p/pingguin/">google code</a>.</p>

<a name="DT"><h3>Delay Timer</h3></a>
<p>Windows console based application that will work as a countdown timer. It is useful for windows batch scripts, powershell scripts.
 It also has a Linux version. Project is open-source on <a href="https://sourceforge.net/projects/dtimer/">sourceforge</a>.</p>

@section navigationLeft{
    <h3>Desktop Applications</h3>
    <ul>
        <li><a href="#stdt">Shutdown Timer</a></li>
        <li><a href="#DVDME">CD/DVD Media Ejector</a></li>
        <li><a href="#PingGuin">PingGuin</a></li>
        <li><a href="#DT">Delay Timer</a></li>
    </ul>
}
