@{
    ViewBag.Title = "Saint Atique";
}

<a name="Intro"><h2>Saint Atique</h2></a>
<p align="justify">Saint Atique is a human being and not a bot. Though he dreams a lot he also contributes in software projects.
He wants to help to make progress in technology and knowledge for human civilization. That is why, he puts his efforts in SAOS
to present works which may indeed help others to save time but leap forward.</p>
<a name="links"><h3>Developer Profile Links</h3></a>
<li><a href="http://www.codeproject.com/Members/Saint-Atique">CodeProject</a></li>
<li><a href="http://www.softpedia.com/developer/Saint-Atique-78418.html">Softpedia</a></li>
<li><a href="http://www.softepic.com/publishers/Saint%20Atique/">Softepic</a></li>
<li><a href="http://www.filecluster.com/publisher/Saint-Atique-30338/">Filecluster</a></li>
<li><a href="http://products.download-bg.com/Saint%20Atique/">Download-bg</a></li>
<li><a href="http://stackoverflow.com/users/773600/atique">StackOverflow</a></li>
<li><a href="http://social.msdn.microsoft.com/profile/saint%20atique%20bd/">Microsoft Developer Network</a></li>

@section navigationLeft{
    <h3>Saint Atique</h3>
    <ul>
        <li><a href="#Intro">Intro</a></li>
        <li><a href="#links">Profile Links</a></li>
        <li><a href="#links">Resume</a></li>
    </ul>
}
