@{
    ViewBag.Title = "About Us";
}

<a name="SAOS"><h2>About SAOS</h2></a>
<p style="text-align: justify;">
It’s me Saint Atique. SAOS is my idea. I release my software in this name. Hence this site should be the home of my software,
 development and resources organized in a personal point of view unless it is grown into a company which works on VC++, VC# etc.
  extensively. My intension is to deliver high quality software along with rich user experiences.</p>
<p style="text-align: justify;">I seek for patronizers who want to invest on projects of similar interest. I can build almost
any software targeting windows. I have long time experience with Linux and Solaris too.</p>
<a name="team"><h2>The Team</h2></a>
<p style="text-align: justify;">
        <li><a href="http://saosx.com/Home/Saint%20Atique">Saint Atique</a></li>
        <li><a href="http://stackoverflow.com/users/819151/jainal">Jainal Uddin</a></li>
        <li><a href="http://hissain.in">Newton Khan</a></li>
        <li><a href="#SAOS">Feroz Jahangir Rana</a></li>
</p>

@section navigationLeft{
    <h3>About</h3>
    <ul>
        <li><a href="#SAOS">SAOS</a></li>
        <li><a href="#team">The Team</a></li>
    </ul>
}
