@{
    ViewBag.Title = "About Us";
}

<h2>About SAOSX</h2>
<p style="text-align: justify;">
SAOSX is the name collectively for all software development resources and knowledge base on IT by Saint Atique. Goal of SAOSX is to deliver high quality software along with rich user experiences.
</p>
<p style="text-align: justify;">
Anyone interested in developing software with Visual C++ or Visual C# can contact us using following email address: sa 'at' saosx 'dot' com. Put SAOSX on mail subject for not getting filtered as spam.
</p>
