@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>

    <article>
    <p>
        A software company founded by Atiq Rahman.
    </p>
    </article>
    
</div>
