@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div>
    <h1 class="display-4">About Us</h1>

    <article>
    <p>
      A software company founded by Atiq Rahman. Our portfolio contains following type of projects,
      
      <ul>
      <li> Cross-platform</li>
      <li> VC#</li>
      <li> VC++</li>
      </ul>

      We support following client operating systems,

      <ul>
      <li> Windows </li>
      <li> Linux </li>
      <li> Solaris and MacOS</li>
      </ul>
    </p>

    <br />

    <a name="team"><h4>The Team</h4></a>
    <p style="text-align: justify;">
      <ul>
      <li><a href="https://note.iqubit.xyz">Atiq</a></li>
      <li><a href="http://stackoverflow.com/users/819151/jainal">Jainal Uddin</a></li>
      <li><a href="http://hissain.in">Newton Khan</a></li>
      <li><a href="#SAOS">Feroz Jahangir Rana</a></li>
      </ul>
    </p>
    <br />

    <h4>About Me</h1>
    <a name="links"><b>Earlier Developer Profile Links</b></a>
    <ul>
    <li><a href="http://www.codeproject.com/Members/Saint-Atique">CodeProject</a></li>
    <li><a href="http://www.softpedia.com/developer/Saint-Atique-78418.html">Softpedia</a></li>
    <li><a href="http://www.softepic.com/publishers/Saint%20Atique/">Softepic</a></li>
    <li><a href="http://www.filecluster.com/publisher/Saint-Atique-30338/">Filecluster</a></li>
    <li><a href="http://products.download-bg.com/Saint%20Atique/">Download-bg</a></li>
    <li><a href="http://stackoverflow.com/users/773600/atique">StackOverflow</a></li>
    <li><a href="http://social.msdn.microsoft.com/profile/saint%20atique%20bd/">Microsoft Developer Network</a></li>
    </ul>
    </article>
    
</div>
