@page
@model IndexModel
@{
  ViewData["Title"] = "Qubit Cloud";
}

<div>
  <h1>@ViewData["Title"]</h1>
  
  <p>
  We, at Qubit, mostly deal with <mark>Software Engineering problems</mark>.
  While we solve such problems we provide frequent update on our <a href="https://note.iqubit.xyz" title="Qubit Tech Blog">blog</a> about our innovations.
  We also released some products which are mostly open-source. Our products are listed below.
  If you have any query, suggestions about our products, this website please visit our
  <a href="https://note.iqubit.xyz" title="Qubit Tech Blog">blog</a> and feel free to comment.
  </p>

<h3>Software Projects Portfolio</h3>
<p>
We have special interest towards lite-weight applications that require high level of efficiency
but smallest executable size, 64 bit applications, Windows SDK applications, Unicode aware applications and IME.
</p>

<ol class="round">
  <li class="one">
    <b>Shutdown Timer</b>
    Shutdown Timer is a simple and easy to use software to shut your computer down at specified
    time and date. Being solely coded in win32 it's lite-weight application considering executable
    size. Project is open-source on <a href="https://stdt.codeplex.com/" title="Shutdown Timer on codeplex">codeplex</a> and
    <a href="https://sourceforge.net/p/stdt/" title="Shutdown Timer on sourceforge">sourceforge</a>.
  </li>

  <li class="two">
    <b>CD/DVD Media Ejector</b>
    This application helps you eject CD/DVDROM.
    After running the application press Ctrl + J to eject CD/DVDROM. Press Ctrl + J again to close the CD/DVDROM tray.
    Another puprose of the application is that it keeps the weak DVDROM healthy. Project is open-source on
    <a href="https://sourceforge.net/projects/sacdeject/" title="CD/DVD Media Ejector on sourceforge">sourceforge</a>.
  </li>

  <li class="three">
    <b>Ping Gui</b>
    Ping Gui is GUI ping software that can ping remote hosts and also can notify when target PC is online or internet
    is available. Project is open-source on <a href="http://code.google.com/p/Ping Gui/" title="Ping Gui project, the Net Notifier">google code</a>.
  </li>

  <li class="four">
    <b>Delay Timer</b>
    It is a Windows console based application that works as a countdown timer. It can come handy on writing windows batch scripts, powershell scripts.
    It also has a Linux version. Project is open-source on <a href="https://sourceforge.net/projects/dtimer/" title="Delay Timer on sourceforge">sourceforge</a>.
  </li>

  <li class="five">
    <b>Website of Consulate General of Bangladesh in Hong Kong</b>
    We had been affiliated in this project to develop site for Consulate General of Bangladesh in Hong Kong with other members who played
    key roles in development of a complete portal site. They are Jainal Uddin and Feroz Jahangir Rana..
  </li>
</ol>

<h4>Earlier Applications</h4>
<a name="gcdng"><b>Google Chrome Latest Download Link Generator</b></a>
<p>This online application looks for information on latest Google Chrome version and generates Google Chrome
Offline Installer Download link which is a Google URL. Downloading with the generated link users may feel 
comfortable with installing Chrome according to their choice (stable, beta, developer release).</p>

<a name="BDG"><b>Bangla Date Gadget</b></a>
<p>It's a gadget to use in Websites or blogs to show Bangla Date. It can be customized with different color and fonts.</p>

<a name="BVC"><b>Bangla Visitor Counter</b></a>
<p>As the name says with this web application you can have your own customized visitor counter for your website in Bangla
 even without unicode on your client site.</p>

<a name="GWords"><b>GRE Words</b></a>
<p>An application to help candidates practice GRE vocabulary.</p>
</div>
